<section id="projects">
  <div class="grid" cols="4" rowHeight="400px">
    <h1>Projects</h1>
      <div class="container1">
        <mat-card class="project-card1">
          <mat-card-header>
            <mat-card-title>Properties Management System</mat-card-title>
            <mat-card-subtitle>Project</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\Images\porpertyMatrix.jpg"
            alt="Project pm"
          />
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>
              The Properties Management System properly manages a separate set of
              books for each corporation with ease. Powerful reporting gives you
              financial insight into all aspects of the companies. Manage
              commercial, residential, and mixed portfolio properties. Establish
              advanced CAM structures for forecasting revenue and expenses for
              commercial real estate and client budgets. Track your clients'
              commercial or residential leases with specialized standards.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="project-card1">
          <mat-card-header>
            <mat-card-title>Shipping management software</mat-card-title>
            <mat-card-subtitle>Project</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\Images\shipsaving.jpg"
            alt="Project shipsaving"
          />
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>
              The goal for shipping management software is to simplify and
              automate shipping processes and help all e-commerce businesses and
              individuals achieve the most economical and cost-effective shipping
              arrangements. Use software's built-in tools to synchronize orders
              from your online store and manage shipments efficiently through a
              user-friendly interface. Regardless of the size of your business and
              shipping volume, the software is fully customizable and tailored to
              your exact needs. Manage orders, shipping, and stock in one place.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="container2">

        <mat-card class="project-card1">
          <mat-card-header>
            <mat-card-title
              >Accutive Data Discovery and Masking (ADM)</mat-card-title
            >
            <mat-card-subtitle>Project</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\Images\accutive.jpg"
            alt="Project accutive"
          />
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>
              ADM enables clients and employees to simultaneously ensure the
              security and functionality of sensitive data through rapid automated
              data discovery and masking. It helps companies ensure they are
              available for testing, analytics, and other critical business
              functions, while keeping them secure and in compliance with
              regulatory requirements.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="project-card1">
          <mat-card-header>
            <mat-card-title
              >Real-time passenger onboarding management system</mat-card-title
            >
            <mat-card-subtitle>Project</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\Images\luxoft.jpg"
            alt="Project luxoft"
            class="luximage"
          />
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>
              Real-time passenger onboarding management system as part of on-board
              operations management and passenger services, train managers can
              quickly and error-free process last-minute reservations, control
              passenger documentation (tickets, identity verification and seat
              assignments), and know the status of reservations to provide every
              passenger with High quality service. Addresses the time-consuming
              and error-prone issue of managing day-to-day operations through
              paper documents, resulting in conflicting bookings and inaccurate
              passenger records.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</section>
