h1 {
  border-bottom: 3px solid #D84315;
  min-width: 70vw;
}

section {
  padding-top: 100px;
}

.grid {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

