<section id="skills">
  <mat-grid-list class="grid" cols="3" rowHeight="100px">
    <mat-grid-tile-header>
      <h1>Skillset</h1>
    </mat-grid-tile-header>
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <mat-card class="techs-card">
        <mat-card-title>Technologies</mat-card-title>
        <mat-card-content>
          <p>C#, .Net Core, Entity Framework Core, ASP.NET Core Web API.<p>
          <p>Java, Springboot</p>
          <p>Javascript, Typescript, Angular, NodeJS, NestJS</p>
          <p>Python, Pandas</p>
          <p>NgRx, RxJS, Bootstrap, HTML5, CSS3, AJAX</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <mat-card class="tools-card">
        <mat-card-title>Tools</mat-card-title>
        <mat-card-content>
          <p>JIRA, Notion, Trello</p>
          <p>Git</p>
          <p>Linux, Windows, MacOS</p>
          <p>Karma, Junit, Mockito, Postman, Jenkins</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <mat-card class="others-card">
        <mat-card-title>Database/IDE/Methodologies</mat-card-title>
        <mat-card-content>
          <p>MongoDB, Firebase, MySQL, PgSQL</p>
          <p>VSCode, Visual Studio, Eclipse, Xcode, Android Studio, IntelliJ</p>
          <p>Agile (Scrum), Waterfall</p>
          <p>UML Diagram, UX Persona</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
